@media ( max-width: 575px)
    .header
        &__official
            display: none
    .promo
        padding: 0 10px 

    .consultation
        padding: 100px 10px 92px 10px
        &__descr
            font-size: 15px
    
    .title
        font-size: 30px
        &_left
            font-size: 25px  